@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(Nunito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(Nunito-Bold.ttf) format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(Nunito-SemiBold.ttf) format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(Nunito-Italic.ttf) format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(Nunito-BoldItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic;
}
