@import url("fonts/fonts.css");

html,
body,
#root {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Nunito", "Arial", "Roboto", sans-serif;
  font-size: 1.25rem;
}

* {
  box-sizing: border-box;
}
