@import url("fonts/fonts.css");

html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-size: 1.2rem;
}

body {
  font-family: "Nunito", "Arial", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

button {
  font-size: 1rem;
}

.center {
  display: flex;
  justify-content: center;
}

.no-wrap {
  word-wrap: nowrap;
}
