@import url("fonts/fonts.css");

html,
body,
#root {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

body {
  font-family: "Nunito", "Arial", "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 4vw;
}

body,
button {
  font-size: 1.5vw;
}
