article {
  min-height: 100%;
  padding: 1em;
}

article header {
  width: 100%;
  position: sticky;
  top: 0;
  background: black;
}

div.carousel {
  position: sticky;
  top: 1em;
}

.project-header {
  width: 100%;
  position: sticky;
  top: 0;
  background: black;

  align-self: center;
}
