#landing-section {
  height: 100%;
  display: grid;
  place-items: center;
  align-content: start;

  margin-top: 10vh;
}

#about-section {
  height: 100%;
  /* display: grid; */
  /* grid-template-rows: auto minmax(0, 1fr) 1fr; */
  display: grid;
  place-items: center;
  gap: 1em;
  padding: 1em;
  color: white;
}

#contact-section {
  height: 100%;
  display: grid;

  gap: 0.5em;
  padding: 1em;
  color: white;
}

#portfolio-section {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto minmax(0, 1fr) auto;
  gap: 0.5em;
  padding: 1em;
  color: white;
}
