@import url(./css/scrollbar.css);

::selection {
  background: #90909080; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #90909080; /* WebKit/Blink Browsers */
}

a:visited,
a {
  color: grey;
  text-decoration: none;

  transition: color 0.2s linear;
}

a:hover {
  color: white !important;
}

a:active {
  background-color: rgb(10, 10, 10);
}

span {
  display: inline-block;
}

.less-margin {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.divider {
  width: 100%;
  height: 0.1em;
  background-color: #90909080;
}
