@import url(./css/scrollbar.css);

::selection {
  background: #90909080; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #90909080; /* WebKit/Blink Browsers */
}

a:visited,
a {
  color: grey;
  text-decoration: none;

  transition: color 0.2s linear;
}

a:hover {
  color: white !important;
}

a:active {
  background-color: rgb(10, 10, 10);
}

span {
  display: inline-block;
}

h1.less-margin {
  margin-top: 4px;
  margin-bottom: 4px;
}

div.ReactModal__Content {
  padding: 0px !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
  border-radius: 0.6em !important;
  background: rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0 4px 30px rgba(71, 41, 41, 0.1) !important;

  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  min-width: 70vw;
  min-height: 70vh;
}

.ReactModal__Overlay {
  background: rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5em);
  -webkit-backdrop-filter: blur(0.5em);

  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
