:root {
  --button-color: black;
  --button-color-hover: rgba(255, 255, 255, 0.2);
  --button-color-active: rgba(45, 45, 45, 0.5);
  --button-color-disabled: rgb(150, 150, 150);
}

button {
  padding: 0.5rem;

  background-color: var(--button-color);
  color: white;
  border: 1px lightgrey solid;
  border-radius: 5px;
  transition: all 0.2s linear;
}

button:hover {
  background-color: var(--button-color-hover);
  cursor: pointer;
}

button:active {
  background-color: var(--button-color-active);
  transform: translateY(1px);
}

button.disabled {
  background-color: var(--button-color-disabled);
  cursor: not-allowed;
}
