article {
  min-height: 100%;
  padding: 1rem;
}

article > header {
  width: 100%;
  position: sticky;
  top: 0;
  background: black;
}

.project-header {
  width: fit-content;
  position: sticky;
  top: 0;
  background: black;

  align-self: center;
}
