@import url(./shared/shared.css);

main.App {
  height: 100%;

  background-color: black;
  color: white;

  display: grid;
  padding: 0.5em;
}

nav {
  display: flex;
  gap: 1em;
}

header {
  display: flex;
  align-self: start;
  justify-content: space-between;
}

.about {
  margin-top: 10vh;
  display: grid;
  place-items: center;
  align-content: start;
}

footer {
  align-self: end;
  display: flex;
  place-items: center;
  justify-content: center;
  gap: 1em;
}
